<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bate-Papo</title>
</head>
<body>
    <h1>Bate-Papo</h1>

    <div id="mensagens">
        <ul>
            {% for mensagem in mensagens %}
                <li>ID: {{ mensagem.bate_papo_id }} - Data/Hora: {{ mensagem.data_hora }} - Usuario {{ mensagem.usuario_id }}: {{ mensagem.mensagem }}</li>
            {% endfor %}
        </ul>
    </div>

    <div id="mensagem-erro" style="display: none; color: red;">
        erro
    </div>

    <form method="post" action="/bate_papo">
        <input type="text" name="usuario_id" placeholder="ID do usuário" required><br>
        <textarea name="nova_mensagem" placeholder="Digite uma mensagem..." required></textarea><br>
        <label for="data">Data:</label>
        <input type="date" name="data" required><br>
        <label for="hora">Hora:</label>
        <input type="time" name="hora" required><br>
        <button type="submit">Enviar</button>
        <button type="button" onclick="voltarParaInicio()">Voltar para a Página Inicial</button>
    </form>

    <script>
        function voltarParaInicio() {
            window.location.href = "{{ url_for('index') }}";
        }
    </script>
</body>
</html>