<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.cliente_id }}</td>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Adicionar Cliente</h2>
    <form method="post" action="/clientes"><br>

        <label for="cliente_id">ID:</label>
        <input type="text" name="cliente_id" id="cliente_id" required><br>

        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required><br>

        <input type="submit" value="Adicionar Cliente">
    </form>
</body>
</html>