<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cliente</title>
</head>
<body>
    <h1>Editar Cliente</h1>

    <form method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" value="{{ cliente.nome }}" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="{{ cliente.email }}" required><br>

        <input type="submit" value="Salvar Alterações">
        <button type="button" onclick="voltarParaFCliente()">Voltar para o Formulário</button>
    </form>

    <script>
        function voltarParaFCliente() {
            window.location.href = "{{ url_for('clientes') }}";
        }
    </script>
</body>
</html>
