<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.cliente_id }}</td>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.email }}</td>
                    <td><a href="{{ url_for('edt_cliente', cliente_id=cliente.cliente_id) }}">Editar</a></td>
                    <td>
                        <form method="post" action="{{ url_for('del_cliente', cliente_id=cliente.cliente_id) }}">
                            <button type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Adicionar Cliente</h2>
    <form method="post" action="/clientes">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" required><br>
    
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required><br>
    
        <input type="submit" value="Adicionar Cliente">
        <button type="button" onclick="voltarParaInicio()">Voltar para a Página Inicial</button>

    <script>
        function voltarParaInicio() {
            window.location.href = "{{ url_for('index') }}";
        }
    </script>
    </form>
</body>
</html>