<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista CRM</title>
</head>
<body>
    <h1>Bem-vindo à Página Inicial</h1>
    
    <a href="{{ url_for('clientes') }}">Página de Clientes</a><br>

    <a href="{{ url_for('bate_papo') }}">Página de Bate-papos</a><br>

    <a href="{{ url_for('chamadas') }}">Página de Chamadas</a><br>

    <a href="{{ url_for('funcionarios') }}">Página de Funcionários</a><br>

    <a href="{{ url_for('motivos') }}">Página de Motivos</a><br>

    <a href="{{ url_for('registros_email') }}">Página de Registro de E-mail</a><br>

    <a href="{{ url_for('usuarios') }}">Página de Usuario</a><br>

    <a href="{{ url_for('setores') }}">Página de Registro de Setor</a><br>
</body>
</html>