<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Setores</title>
</head>
<body>
    <h1>Setores</h1>

    <div id="setores">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for setor in setores %}
                    <tr>
                        <td>{{ setor.setor_id }}</td>
                        <td>{{ setor.nome }}</td>
                        <td>
                            <a href="{{ url_for('editar_setor', setor_id=setor.setor_id) }}">Editar</a>
                            <form method="post" action="{{ url_for('excluir_setor', setor_id=setor.setor_id) }}">
                                <button type="submit">Excluir Setor (e Funcionários)</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

    <h2>Adicionar Setor</h2>
    <form method="post" action="/setores">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" required><br>

        <input type="submit" value="Adicionar Setor">
        <button type="button" onclick="voltarParaInicio()">Voltar para a Página Inicial</button>
    </form>

    <script>
        function voltarParaInicio() {
            window.location.href = "{{ url_for('index') }}";
        }
    </script>
</html>
